{% extends 'layout.html.twig' %}
{% block body %}
<div class="intro">
    <h1>Sinèrgies entorn CRM per a entitats del Tercer Sector</h1>
</div>

<div class='row'>
    <div class='span4'>
        <div class='well'>

            <p>Data: dilluns <strong>2 de juliol</strong>, de 12 a 14h</p>

            <p>Localització: a la Casa del Mar de Barcelona, c/ Albareda, 1-13, Barcelona., Aula 2.</p>

            <p><a data-toggle="modal" href="#myModal" class="btn btn-primary btn-large">Veure localització »</a></p>
        </div>

    </div>
    <div class='span8'>
        <form class='form-horizontal' method='post' action='/'>
            <fieldset>
                <div id='entitat' class="control-group">
                    <label class="control-label" for="entitat">Entitat</label>

                    <div class="controls">
                        <input type="text" name='entitat' class="input-xlarge" >

                        <p class="help-block">Introdueix la entitat a la que pertanys *</p>
                    </div>
                </div>
                <div id="nom_1" class="control-group">
                    <label class="control-label" for="entitat">Nom assistent 1 *</label>

                    <div class="controls">
                        <input type="text" name='nom_1' class="input">

                        <p class="help-block">Introdueix el nom i cognoms.</p>
                    </div>
                </div>

                <div id="email_1" class="control-group">
                    <label class="control-label" for="email_1">Email assistent 1 *</label>

                    <div class="controls">
                        <input type="text" name='email_1' class="input">

                        <p class="help-block">Introdueix el emailde contacte.</p>
                    </div>
                </div>


                <div id="carrec_1" class="control-group">
                    <label class="control-label" for="entitat">Càrrec assistent 1</label>

                    <div class="controls">
                        <input type="text" name='carrec_1' class="input">

                        <p class="help-block"></p>
                    </div>
                </div>
                <div id="nom_2" class="control-group">
                    <label class="control-label" for="entitat">Nom assistent 2</label>

                    <div class="controls">
                        <input type="text" name='nom_2' class="input">

                        <p class="help-block"></p>
                    </div>
                </div>

                <div id="email_2" class="control-group">
                    <label class="control-label" for="email_1">Email assistent 2</label>

                    <div class="controls">
                        <input type="text" name='email_2' class="input">

                        <p class="help-block"></p>
                    </div>
                </div>


                <div id="carrec_2" class="control-group">
                    <label class="control-label" for="entitat">Càrrec assistent 2</label>

                    <div class="controls">
                        <input type="text" name='carrec_2' class="input">

                        <p class="help-block"></p>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Enviar dades</button>
                </div>

            </fieldset>
        </form>

    </div>
</div>

<div class="modal hide" id="myModal">
    <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal">×</button>

        <h3>Mapa</h3>

        <a href="https://maps.google.com/maps?q=Casa+del+Mar+de+Barcelona,+Calle+de+Albareda,+Barcelona,+Espa%C3%B1a&hl=ca&ie=UTF8&ll=41.37366,2.173877&spn=0.050561,0.077162&sll=37.0625,-95.677068&sspn=54.005807,79.013672&oq=casa+del+mar+barcelona&t=w&hq=Casa+del+Mar&hnear=Carrer+d'Albareda,+08004+Barcelona,+Catalunya,+Espanya&z=14&output=embed">Obrir en una nova finestra</a>
    </div>
    <div id='body-mapa' class="">

    </div>
</div>
{% endblock %}

        {% block javascripts %}
            {{ parent() }}
            <script type="text/javascript" src="/js/contact.js"></script>

{% endblock %}