{% spaceless %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="index,follow" name="robots">
    <meta content="Formulari introducció dades per El Tercer" name="description">
    <meta content="7 days" name="revisit-after">
    <title>El Tercer</title>
    <link href="/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico">
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
<div class="container">

        {% block body %}
        {% endblock %}
    <footer>www.eltercer.net</footer>
    {% block javascripts %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    {% endblock %}
</div>
</body>
</html>
{% endspaceless %}