{% extends 'layout.html.twig' %}
{% block body %}

<div class="intro">
    <h1>En aquest moment no hi ha events preparats.</h1>
    <ul>
        <li>el Tercer"</li>
        <li>T. 629883818</li>
        <li>pedro@eltercer.net</li>
        <li><a href="http://www.eltercer.net">www.eltercer.net</a></li>

    </ul>
{% endblock %}